<div class="container_menu-bar">
    <div class="container_menu-bar_left">
        <ul>
            <li> <a href="https://www.linkedin.com/in/luiz-ricardo-dias-90aa2821a" target="_blank"> Linkedin </a></li>
            <li><span>•</span></li>
            <li><a href="https://github.com/luizrd84" target="_blank"> GitHub </a></li>
            <li><span>•</span></li>
            <li><a [routerLink]="['/sobre']"> Meu Currículo </a></li>          
        </ul>
        
    </div>

    <div class="container_button">        
        <button [routerLink]="['/login']">Painel Admin</button>         
    </div>
</div>