/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}




/* scrollbar - melhorar */

/* largura da barra */
::-webkit-scrollbar {
    width: 15px;
}

/* fundo da barra */
::-webkit-scrollbar-track {
    background: #c7c7c7;
}

/* parte que desliza */
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 15px;
}

/* efeito hover */
::-webkit-scrollbar-thumb:hover {
    background: #d6d6d6;
}

html {
    scrollbar-width: 15px;
    scrollbar-color: #bdbdbd #e0e0e0;
}








/*testes de cores*/
:root {
  --primary: #2563EB;
  --secondary: #1E3A8A;
  --background: #F8FAFC;
  --card: #FFFFFF;
  --text: #1E293B;
}