
<div class="project_card">
    <img [src]="photoCover || ''" alt="">

    <div class="project_info">
        <p class="project_title">Projeto: {{cardTitle}}</p>
        
        @if (tecnologies.length > 0) {
            <ul class="tech_list">
                @for (tech of tecnologies; track tech;let i = $index; let last = $last) {
                    @if (i < 4) {
                        <li>
                            <img src="{{tech.url}}" alt="">
                            {{tech.name}}                          
                        </li>
                    }
                    @if (i === 3 && tecnologies.length > 4) {
                        <li class="demais_itens">+{{ tecnologies.length - 4 }}</li>
                    }
                }    
            </ul>
        }
    </div>

    <div class="butons">

        @if(routeDetails !== "") {
            <button class="details_btn" [routerLink]="routeDetails">Detalhar</button>
        }
        @else {
            <button class="details_btn">Detalhar</button>
        }
        
        
        @if(isAdmin) {
            @if(routeEdit !== "") {
                <button class="details_btn" [routerLink]="routeEdit">Editar</button>
            }
            @else {
                <button class="details_btn">Editar</button>
            }
          
            <button class="details_btn" (click)="onDelete()">Deletar</button>
        }
    </div>
</div>


